body {
  width: 100vw;
  display: flex;
  color: #141414;
  justify-content: center;
  font-family: "Gilroy-Medium";
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-semiBold;
  src: url(fonts/Gilroy-SemiBold.ttf);
}

select#drop-down {
  border: 0px;
  outline: 0px;
  background-color: transparent;
}

.nav-list {
  color: #0065fe;
}

.main {
  width: 100%;
  overflow: hidden;
}

.top-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(#f1efe4, #fff);
}

.underline {
  text-decoration: none;
  color: #0065fe;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.top-navigation-bar {
  width: 60%;
  padding-top: 12px;
  align-self: center;
}

.box-design {
  margin-left: 63px;
  align-self: flex-start;
}

.nav-button {
  display: flex;
  justify-content: end;
  text-align: right;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px 140px;
}

.try-button {
  padding: 12px 24px;
  border-radius: 30px;
  background: #0065fe;
  color: #ffffff;
  border: none;
  transform: 0.4s;
}

.try-button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.head-info {
  text-align: center;
  margin-bottom: 32px;
}

.heading1 {
  font-family: "Gilroy-Bold";
  line-height: 96px;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: -25px;
}
.heroFont {
  font-size: 18px;
  line-height: 28px;
  font-size: 18px;
}

.login-holder {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.signup-button {
  padding: 15px 35px;
  border-radius: 100px;
  background: #0065fe;
  border: none;
  color: #ffffff;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 2;
  width: 100%;
  height: 224px;
  border: 0.5px solid #005ae2;
  backdrop-filter: blur(106px);
  border-radius: 24px;
  position: relative;
  background-image: linear-gradient(to right, #e2e9f0, #fff);
}

.top-hero-box {
  align-items: center;
  display: flex;
  width: 768px;
  align-self: center;
  position: relative;
  justify-content: center;
  margin-bottom: 76px;
}

.svg-img {
  position: absolute;
  width: 238.55px;
  height: 290px;
  z-index: 1;
  top: -30px;
  left: 0px;
}

.top-hero-tray {
  position: relative;
  display: flex;
  justify-content: center;
  transform: scale(1.5);
}

.disk {
  gap: 124px;
  padding: 60px 0px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background: #f9fbfd;
  position: relative;
  top: 2px;
}

.disk,
h3,
ul {
  list-style-type: none;
}

.Features-tab {
  gap: 50px;
  display: flex;
  justify-content: space-between;
}

.Features-tab li h4 {
  font-family: "Gilroy-SemiBold";
  font-size: 32px;
  line-height: 40px;
  margin: 4px;
}

.Features-tab li p {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}

.Features-info {
  font-size: 40px;
  line-height: 48px;
  font-family: "Gilroy-Bold";
}

.article-body {
  display: flex;
  gap: 96px;
  margin-top: 128px;
}

.article-body-row {
  gap: 28px;
  display: flex;
  margin-bottom: 64px;
  align-items: center;
}

.article-body-row div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-body-row div h2 {
  font-size: 32px;
  line-height: 28px;
  font-family: "Gilroy-SemiBold";
}

.article-body-row div p {
  font-size: 16px;
  line-height: 24px;
  width: 340px;
}

.article-body-bottom {
  display: flex;
  justify-content: right;
  align-self: flex-end;
  margin-right: 117.9px;
}

.article-body li h3 {
  font-family: "Gilroy-Bold";
  font-size: 40px;
  margin: 0px;
}
.article-body li p {
  color: #112232;
  font-size: 16px;
  font-family: "Gilroy-Medium";
  font-weight: 400;
  line-height: 24px;
}

.article-body li h4 {
  color: #071827;
  font-size: 16px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  line-height: 24px;
}

span {
  color: #005ae2;
}

.price-info ul li h3 {
  font-family: "Gilroy-Bold";
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.price-info ul li p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0px;
}

.price-tags {
  display: flex;
  margin-top: 64px;
  list-style-type: none;
  justify-content: center;
}

.price-tags-box {
  z-index: 1;
  display: flex;
  height: 455px;
  margin-top: 86px;
  margin-bottom: 68px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 87px 0px 87px;
  border: 0.4px solid #005ae2;
}

.price-tags-box-left {
  left: 40px;
  position: relative;
}

.price-tags-box-right {
  right: 40px;
  position: relative;
}

.price-tags-box h1 {
  font-family: "Gilroy-Bold";
  font-size: 40px;
  line-height: 48px;
  margin: 34px 0px 8px 0px;
}

.price-tags-box h2 {
  margin: 0px;
  font-size: 24px;
  line-height: 32px;
}

.price-tags-box h5 {
  margin: 0px;
  font-size: 20px;
  line-height: 32px;
}

.price-tags-box ul {
  gap: 24px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 16px !important;
}

.price-tags-box ul li {
  gap: 10px;
  display: flex;
  align-items: center;
}

.price-tags-box ul li p {
  margin: 0px;
}

.price-tags-box ul li svg {
  margin: 0px;
}

.price-tags-box-center {
  z-index: 2;
  margin-top: 0px;
  color: white;
  justify-content: unset;
  padding: 95px 106px 76px 87px;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
}

.price-tags-box-center ul {
  margin-top: 24px !important;
}

.price-button-holder {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.price-button,
.price-button1 {
  width: 202px;
  font-family: "Gilroy-semiBold";
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: white;
  background-color: #0065fe;
  padding: 24px 0px;
  border-radius: 100px;
  border: none;
}

.price-button1 {
  color: #0065fe;
  background-color: #fff;
  border: 1px solid #0065fe;
}

.form-background {
  display: flex;
  margin-top: 112px;
  padding: 83.5px 0px;
  border-radius: 2px;
  justify-content: center;
  background-image: url("/terms-of-service-bg.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0065fe;
  border: 1px solid #3284ff;
  width: 392px;
  background: #fff;
  border-radius: 12px;
  padding: 42px;
}

.form-row p {
  color: #4991ff;
  font-size: 14px;
  font-family: Gilroy-Bold;
  font-weight: 400;
  line-height: 20px;
}

.form input {
  height: 39px;
  width: 100%;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid #3284ff;
}

.form ::placeholder {
  color: #3284ff;
  opacity: 1;
}

.form-row {
  gap: 12px;
  width: 100%;
  display: flex;
  margin: 24px 0px;
  flex-direction: row;
}

.form-row select {
  width: 100%;
  border: 1px solid #3284ff;
  color: #3284ff;
  padding: 8px 12px;
  border-radius: 12px;
}

.form-button {
  font-family: "Gilroy-semiBold";
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  width: 100%;
  height: 48px;
  color: #fff;
  background-color: #0065fe;
  border-radius: 100px;
  border: none;
  margin-bottom: 12px;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.FAQ-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(/faq-bg.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background-size: cover; */
}

.FAQs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 43px 324px 155px 324px;
}

.FAQs div h2 {
  color: #141414;
  font-size: 40px;
  font-family: "Gilroy-Bold";
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

.FAQ-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
  text-align: left;
  margin-right: 24px;
  gap: 40px;
}

.FAQ-list div {
  display: flex;
  justify-content: flex-end;
}

.FAQ-list p {
  color: #141414;
  font-size: 20px;
  font-family: "Gilroy-Medium";
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}

.revolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 95px;
  height: 300px;
  border-radius: 2px;
  background-image: url("/revolution-bg.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.revolution h1 {
  font-size: 40px;
  font-family: "Gilroy-Bold";
  font-weight: 400;
  line-height: 48px;
  color: #fff;
}

.revolution button {
  font-size: 16px;
  font-family: "Gilroy-semiBold";
  font-weight: 400;
  line-height: 12px;
  height: 48px;
  border: none;
  border-radius: 100px;
  padding: 12px 24px;
  background-color: #3284ff;
  color: white;
  word-wrap: break-word;
}

.footer-info {
  display: flex;
  text-align: left;
  justify-content: end;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 39px;
  margin-top: 95px;
  margin: 0px;
  padding: 0px;
}

.footer-bg {
  background-image: url("/footer.svg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

.footer-article-body {
  margin: 0px;
  padding: 0px;
}

.footer-article-body ul {
  display: flex;
  flex-direction: row;
  gap: 73px;
}

.footer-article-body ul,
.footer-article-body ul li,
.footer-article-body ul li h4 {
  margin: 0px;
  padding: 0px;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-stain {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}
